[Desktop Entry]
Name=account-tester
Comment=My project description
Exec=qmlscene $@ account-tester.qml
Icon=qmlscene
Terminal=false
Type=Application
X-Ubuntu-Touch=true
