[Desktop Entry]
Name=Account Tester
Comment=Test functionality of Online Accounts
Exec=qmlscene $@ ./account-tester/account-tester.qml
Icon=./account-tester/account-tester.svg
Terminal=false
Type=Application
X-Ubuntu-Touch=true
